@font-face{
    font-family: Helvetica;
    src: url("res/fonts/Helvetica.ttf");
}
@font-face{
    font-family: SteradianBlack;
    src: url("res/fonts/SteradianBlack.otf");
}
@font-face{
    font-family: SteradianBold;
    src: url("res/fonts/SteradianBold.otf");
}
@font-face{
    font-family: SteradianMedium;
    src: url("res/fonts/SteradianMedium.otf");
}
@font-face{
    font-family: SteradianRegular;
    src: url("res/fonts/SteradianRegular.otf");
}
@font-face{
    font-family: SteradianExtraLight;
    src: url("res/fonts/SteradianExtraLight.otf");
}

//Numorphism Shdows
$nmorphismShadow : 
-5px -3px 10px #ffffffdc, 
3px 6px 20px #00000027;
$nmorphismShadowIn: 
10px 10px 10px #ffffff, 
inset -5px -5px 10px #f3f3f3, 
-3px -6px 20px #0000003b;

$nmorphismShadowBtn:
-5px -3px 10px #ffffffdc, 
3px 6px 20px #00000027;
//Transition Duration for shadow
$duration: 500ms;

*{
    margin: 0;
    padding: 0;
}

body{
    background: #f7f7f7;
}

a{
    text-decoration: none;
    color: #444444;
}
.navigation{
    position: fixed;
    top: 0;
    width: 100%;
    .navContainer{
        position: absolute;
        right: 0;
        margin-top: 1rem;
        margin-right: .5rem;
    }
}
.navBtn{
    display: inline-block;
    font-size: 1.2rem;
    //text-transform: uppercase;
    padding: .5rem 1.5rem .5rem 1.5rem;
    margin-left: .2rem;
    text-align: center;
    border-radius: 100px;
    font-family: Product Sans;
    border: 3px solid transparent;
    transition-property: box-shadow,border-color, background, color;
    transition-duration: $duration;
}
.navBtn:focus,
.navBtn:hover{
    box-shadow: $nmorphismShadow;
    background: #ff6a7e;
    color: white;
    border-color: #f7f7f7;
}
.cAct{
    box-shadow: $nmorphismShadow;
    border-color: #f7f7f7;
    background: #746aff;
    color: white;
}

.main{
    margin-top: 10rem;
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .container{
        width: 95%;
        max-width: 1400px;
        height: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .textArea{
            max-width: 700px;
            width: 60%;
        }
        .imgContainer{
            width: calc(40% - 3rem);
            margin-right: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            img{
                width: 80%;
                max-width: 320px;
            }
        }
        .title{
            grid-row: 1/span 2;
            font-size: 5rem;
            align-self: center;
            font-family: Century Gothic;
            padding-left: 3rem;
            background: linear-gradient(to right, #746AFF, #6ab7ff);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p{
            margin-top: 1rem;
            max-width: 800px;
            padding-left: 3rem;
            font-family: Product sans;
            font-size: 1.5rem;
            word-spacing: .5rem;
            line-height: 2.5rem;
            letter-spacing: .05rem;
            color: #424242;
        }
        .btn{
            width: 10rem;
            height: 3rem;
            font-size: 1rem;
            font-family: SteradianMedium;
            //text-transform: uppercase;
            letter-spacing: .1rem;
            outline: 0;
            border: 3px solid #F7F7F7;
            border-radius: 50px;
            background: #F7F7F7;
            color: #3a3a3a;
            box-shadow: -5px -3px 10px #ffffffdc, 
            3px 6px 20px #00000027;
            float: right;
            margin-right: 2rem;
            margin-top: 1rem;
            transition-property: box-shadow, background, color;
            transition-duration: 280ms;
        }
        .btn:focus,
        .btn:hover{
            color: white;
            background: #746AFF;
            box-shadow: 5px 7px 20px #746aff7e;
        }
    }
}